h1 , h2 {
    text-align : center ;
    font: 80px 'Pacifico', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
    margin-bottom: -60px;
}
footer {
    font-size: 12px;
    position:absolute;
    left:0px;
    bottom:10px;
    width:100%;
}
#footy {
    font-size: 12px;
    position:absolute;
    left:0px;
    bottom:10px;
    width:100%;
}
.table tr {
    text-align: left;
}
#yourBtn{
    position: relative;
    top: 150px;
    font-family: calibri;
    width: 150px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px dashed #BBB;
    text-align: center;
    background-color: #DDD;
    cursor:pointer;
}
