<html>
        <head>
                {% if title %}
                <title> {{ title }} </title>
                {% else %}
                <title> Fire Notes </title>
                {% endif %}
                
        </head>
        <style>
                h1 , h2 {
                        text-align : center ;
                }
        </style>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">


        <body>
                <h1> Fire Notes </h1>
                <div class="container"> Fire Notes : <a href="/">Home</a></div>
                        {% for dept in x %}
                        <h4><a href="/{{dept}}">{{dept}}</a></h4>
                        {% endfor %}
                <hr>
                        {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                        <ul>
                                                {% for message in messages %}
                                                        <li>{{message}}</li>
                                                {% endfor %}
                                        </ul>
                                {% endif %}
                        {% endwith %}
                        {% block content %}
                        {% endblock %}

        </body>
</html>
