<html>
        <head>
                {% if title %}
                <title> {{ title }} </title>
                {% else %}
                <title> Fire Notes </title>
                {% endif %}
        </head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">


        <body>

                <div class="container"> Fire Notes : <a href="/index">Home</a></div>
                <hr>
                        {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                        <ul>
                                                {% for message in messages %}
                                                        <li>{{message}}</li>
                                                {% endfor %}
                                        </ul>
                                {% endif %}
                        {% endwith %}
                        {% block content %}
                        {% endblock %}
        </body>
</html>
