{% extends "base.html" %}
{% block content %}


                <div class="jumbotron">
                  {% if session['rollnumber'] %}
                  <h4 align="center">FAQ and Guidelines </h4>
                  {% endif %}   
                  <br>
                       <div style="width:60%;margin-left:25%;margin-right:auto;">
                           <!--h5>1) Why should I use this and not FB/Google Drive?</h5>  
			   <div>
			        
			    </div>
                           <h5>2) Why should I use this and not FB/Google Drive?</h5>  
			   <div>
			        
 			    </div-->
                            <ol>
			      <li>Why should I use this and not FB/Google Drive?</li>
			      Firenotes contains a collection of notes uploaded through the batches. It contains useful resources that your seniors may have uplaoded. Also, using this you can search for words within the documents that have been uploaded. Another advantage is that a collection of images will be stiched into one pdf to save you time.
			      <li>How do I search for relevant notes?</li>
			      Use the search bar and type the keywords describing the notes you need.
			      Example:
			      <ul>
				<li>Type "CSE" to view all CSE notes for all years and subjects.</li>
				<li>Type "CSE 4" to view all CSE fourth semester notes.</li>
				<li>Type "CSE OS" to view all CSE OS notes.</li>
				<li>Type "CSE 4 CT2" to view all CSE semester 4 CT2 notes.</li>
				<li>Type "CSE OS CT2" to view all CSE OS CT2 notes.</li>
			      </ul>
			      <li>How do I reset my password?</li>
			      We do not store your password. You will have to contact CSG (Octa) to reset your webmail password.
			      <li>How do I login?</li>
			      Click login and enter your webmail credentials.
			    </ol>

                       </div>
                 
                </div>
                <footer>
                 <div align="center">
                    Made with &hearts; by Delta Force
                    <br>

                 </div>
                </footer>
{% endblock %}
