{% extends "base.html" %}
{% block content %}


                <div class="jumbotron">
                  {% if session['rollnumber'] %}
                  <h4 align="center">FAQ and Guidelines </h4>
                  {% endif %}   
                  <br>
                        <div align="center">
                          
                        </div>
                 
                </div>
                <footer>
                 <div align="center">
                    Made with &hearts; by Delta Force
                    <br>

                 </div>
                </footer>
{% endblock %}
