{% extends "base.html" %}

{% block content %}

<div class="jumbotron" align="center">
	<ul class="pager">
		<li><a href="/{{dept}}">Go back</a></li>
	</ul>  
	{% if g.user.is_authenticated() and g.user.dept == dept %}
	<a class="btn btn-primary btn-sm" href="/{{dept}}/{{sem}}/upload">Upload</a>
	<br>
	<br>
	{% endif %}
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/custom.js"></script>

	<table class="table table-striped table-hover" style="width:75%; margin:0 auto">
		<thead>
			<tr>
				<th>File Name</th>
				<th>Author</th>
				<th>Tags</th>
				<th>Semester</th>
				<th>Subject/Descripton</th>
				<th>Downloads</th>
				<th>Stars</th>
				<th>Owner</th>
				<th>Upload Date</th>
				<th>Department</th>
				<th>Download Me</th>
			</tr>
		</thead>
		<tbody>
			{% for file in list_of_files %}
			<tr>
				<td>
					{{file[0]}}
				</td>
				<td>
					{{file[1]}} 
				</td>
				<td>
					{{file[2]}} 
				</td>
				<td>
					{{file[3]}} 
				</td>
				<td>
					{{file[4]}} 
				</td>
				<td>
					{{file[5]}}
				</td>
				<td>
                {% if (not file[6][0])  and g.user.is_authenticated() %}
					<div id="starlink">
						<a onclick='starrer({{file[6][2]}}, {{g.user.rollNo}});'>
					    <i id="starclass{{file[6][2]}}" class="fa fa-star-o fa-2x"></i>
					  </a>
                      
					</div>			
					{%else%}
					<div>
						<a onclick='starrer({{file[6][2]}},{{g.user.rollNo}});'>
                            <i id="starclass{{file[6][2]}}" class="fa fa-star fa-2x"></i>
                        </a>
                            <!--<a href="#"><i class="fa fa-star fa-2x"></i></a> -->
					</div>
					{% endif %}
					<div>
						&nbsp;&nbsp;<span name="count{{file[6][2]}}" id='{{file[6][2]}}'>{{file[6][1]}} </span>
					</div>
				</td>
				<td>
					{{file[7]}} 
				</td>
				<td>
					{{file[8]}} 
				</td>
				<td>
					{{ file[9] }}
				</td>
				<td>
					{% if dept %}
					<a class="btn btn-success" href="/{{dept}}/{{sem}}/{{file[0]}}">Download</a>
					{% else %}
					<a class="btn" href="/{{file[9]}}/{{file[3]}}/{{file[0]}}">Download</a>
					{% endif %}
				</td>

			</tr>
			{% endfor %}

			<tr>
			</tr>
		</tbody>
	</table>


</div>


<div class="footy">
	<div align="center">
		Made with &hearts; by Delta Force
		<br>

	</div>
</div>

{% endblock %}

