<html>
<head>
        {% if title %}
                <title> {{ title }} </title>
        {% else %}
                <title> Fire Notes </title>
        {% endif %}
</head>
<style>
        h1, h2 {
                text-align : center ;
        }
</style>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
        <body>        
                <h2> Welcome to {{dept}} Department </h2>
                
                {% if semesters %}
                <h3> Choose any one of the semesters </h3>
                <ul>
                {% for sem in semesters %}
                        <li> <a href="/{{dept}}/{{sem}}">Semester {{sem}}</a></li>
                {% endfor %}
                </ul>
                {% endif %}

                {% block content %}
                {% endblock %}

        </body>
</html>
